.event-page-container-layout-super {
  display: flex;
  justify-content: center;
}
.event-page-container-layout {
  margin: 2rem 7rem 3rem;
  max-width: 1200px;
  flex-grow: 1;
}

.event-page-container-layout-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
}

.event-page-container-layout-space {
  flex-grow: 3;
  width: 20px;
}
